.formulaire {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 500px;
    margin: auto;
    background-color: lightgrey;
}
.child {
    text-align: center;
}
.champ {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 400px;
    margin: auto;
}
#erreur {
    font-size: 2em;
    color: red;
}
#message {
    font-size: 1em;
    color: green;
}
